<?xml version="1.0" encoding="utf-8"?>
<manifest package="ahat.mmsnap"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CopingPlansDetailActivity"
            android:label="@string/title_activity_coping_plans_detail"
            android:parentActivityName=".CopingPlansActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.CopingPlansActivity"/>
        </activity>
        <activity
            android:name=".ActionPlansDetailActivity"
            android:label="@string/title_activity_action_plans_detail"
            android:parentActivityName=".ActionPlansActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.ActionPlansActivity"/>
        </activity>
        <activity
            android:name=".CounterfactualDetailActivity"
            android:label="@string/title_activity_counterfactual_detail"
            android:parentActivityName=".CounterfactualActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.CounterfactualActivity"/>
        </activity>
        <activity
            android:name=".CopingPlansActivity"
            android:label="@string/title_activity_coping_plans"
            android:parentActivityName=".IfThenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.IfThenActivity"/>
        </activity>
        <activity
            android:name=".ActionPlansActivity"
            android:label="@string/title_activity_action_plans"
            android:parentActivityName=".IfThenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.IfThenActivity"/>
        </activity>
        <activity
            android:name=".CounterfactualActivity"
            android:label="@string/title_activity_counterfactual"
            android:parentActivityName=".IfThenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.IfThenActivity"/>
        </activity>
        <activity
            android:name=".IfThenActivity"
            android:label="@string/title_activity_if_then"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.MainActivity"/>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".EduActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.EduActivity"/>
        </activity>
        <activity
            android:name=".EduActivity"
            android:label="@string/title_activity_edu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.MainActivity"/>
        </activity>
        <activity
            android:name=".EQVASActivity"
            android:label="@string/title_activity_eqvas"
            android:parentActivityName=".AssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.AssessmentsActivity"/>
        </activity>
        <activity
            android:name=".WeeklyEvaluationActivity"
            android:label="@string/title_activity_weekly_evaluation"
            android:parentActivityName=".AssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.AssessmentsActivity"/>
        </activity>
        <activity
            android:name=".SelfRatedHealthActivity"
            android:label="@string/title_activity_self_rated_health"
            android:parentActivityName=".AssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.AssessmentsActivity"/>
        </activity>
        <activity
            android:name=".PlansActivity"
            android:label="@string/title_activity_plans"
            android:parentActivityName=".AssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.AssessmentsActivity"/>
        </activity>
        <activity
            android:name=".HealthRiskActivity"
            android:label="@string/title_activity_health_risk"
            android:parentActivityName=".AssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.AssessmentsActivity"/>
        </activity>
        <activity
            android:name=".EfficacyActivity"
            android:label="@string/title_activity_efficacy"
            android:parentActivityName=".AssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.AssessmentsActivity"/>
        </activity>
        <activity
            android:name=".AssessmentsActivity"
            android:label="@string/title_activity_assessments"
            android:parentActivityName=".MMSNAPActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.MMSNAPActivity"/>
        </activity>
        <activity
            android:name=".MMSNAPSubCategoryActivity"
            android:parentActivityName=".MMSNAPActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.MMSNAPActivity"/>
        </activity>
        <activity
            android:name=".MMSNAPActivity"
            android:label="@string/title_activity_mmsnap"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.MainActivity"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ahat.mmsnap.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>